  gzip on;
  gzip_min_length 1000;
  gzip_disable 'msie6';
  gzip_proxied no-cache no-store expired;
{% set valid_types = compression_types | reject('equalto', 'text/html') | list %}
{% if valid_types %}
  gzip_types {{ valid_types | join(' ') }};
{% endif %}
