.editorconfig
.gitattributes
.github
.gitignore
.idea
.pre-commit-config.yaml
.readthedocs.yml
venv
node_modules
.data
.dockerignore
npm-debug.log
Dockerfile
DockerfileARM
.git
.vscode
.angular
sample
logs
data
/**/__pycache__
/web/.angular
easy-rsa
server.conf
server.pid
/web/node_modules
target