<div class="datetime-field-container">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="datetime-form-field">
        <mat-label>{{ label }}</mat-label>
        <input matInput
               [matDatepicker]="picker"
               [(ngModel)]="dateInput"
               (dateChange)="onDateChange($event)"
               [placeholder]="placeholder"
               readonly
               id="datetime-date-input">
        <mat-datepicker-toggle matIconSuffix [for]="picker"
                               id="datetime-date-toggle"></mat-datepicker-toggle>
        <mat-datepicker #picker>
          <mat-datepicker-actions>
            <div class="time-selection-container">
              <mat-form-field class="time-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>{{ 'DATETIME.HOUR' | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedHour" (selectionChange)="onTimeChange()">
                  @for (hour of hours; track hour) {
                    <mat-option [value]="hour">{{hour}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field class="time-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>{{ 'DATETIME.MINUTE' | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedMinute" (selectionChange)="onTimeChange()">
                  @for (minute of minutes; track minute) {
                    <mat-option [value]="minute">{{minute}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field class="time-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>{{ 'DATETIME.SECOND' | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedSecond" (selectionChange)="onTimeChange()">
                  @for (second of seconds; track second) {
                    <mat-option [value]="second">{{second}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" 
                    class="datetime-confirm-action"
                    (click)="onConfirm()"
                    id="datetime-confirm-btn"
                    matDatepickerApply>
                {{ 'ACTIONS.CONFIRM' | translate }}
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
    </mat-form-field>
</div>