<ng-container>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'view.sensor.title'|translate }}</mat-card-title>
            <mat-card-subtitle>{{ (isAddMode ? 'actions.create' : 'actions.edit')| translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                    <mat-tab label="Config" id="config-tab">
                        <div class="mat-row">
                            <div class="mat-col-12">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name" id="sensor-name-input">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mat-row">
                            <div class="mat-col-12">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput formControlName="description"
                                        id="sensor-description-input"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mat-row" formGroupName="security">
                            <div class="mat-col-12">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Geo Blocked Countries</mat-label>
                                    <mat-select (selectionChange)="onAddGeo($event)" id="geo-countries-select">
                                        <mat-option
                                            *ngFor="let country of filterActiveGeo(_geo_countries);let i = index"
                                            [value]="country" id="geo-country-option-{{i}}">
                                            {{ country }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-chip-listbox class="full-width" [multiple]="false" [selectable]="true">
                                    <mat-chip-option class="small-chip" *ngFor="let p of getGeoCodes()"
                                        (removed)="onRemoveGeo(p)">
                                        {{ p }}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-option>
                                </mat-chip-listbox>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="IP Reputation" id="ip-reputation-tab">
                        <div class="mat-row" formGroupName="security">
                            <div class="mat-col-6">
                                <mat-form-field class="full-width">
                                    <mat-label>RBL Blocking Feed</mat-label>
                                    <mat-select (selectionChange)="onAddBlock($event)" id="rbl-block-select">
                                        <mat-option *ngFor="let c of filterActiveFeed(_rbl_feeds); let i = index"
                                            [value]="c.name || c._id" id="block-option-{{i}}">
                                            {{ c.name || c._id }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-chip-listbox class="full-width" [multiple]="false" [selectable]="true">
                                    <mat-chip-option *ngFor="let p of getReputation(); let i = index"
                                        class="small-chip" (removed)="onRemoveBlock(p)" id="block-chip-{{p}}">
                                        {{ p }}
                                        <button matChipRemove id="remove-block-{{p}}">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-option>
                                </mat-chip-listbox>
                            </div>
                            <div class="mat-col-6">
                                <mat-form-field class="full-width">
                                    <mat-label>RBL ByPass</mat-label>
                                    <mat-select (selectionChange)="onAddPermit($event)" id="rbl-permit-select">
                                        <mat-option *ngFor="let c of filterActiveFeed(_rbl_feeds); let i = index"
                                            [value]="c.name || c._id" id="permit-option-{{i}}">
                                            {{ c.name || c._id }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-chip-listbox class="full-width" [multiple]="false" [selectable]="true">
                                    <mat-chip-option *ngFor="let p of getTrusted(); let i = index"
                                        class="small-chip" (removed)="onRemovePermit(p)" id="permit-chip-{{p}}">
                                        {{ p }}
                                        <button matChipRemove id="remove-permit-{{p}}">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-option>
                                </mat-chip-listbox>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Security Inspection" id="security-inspection-tab">
                        <div class="mat-row mt-2" formGroupName="inspection">
                            <div class="mat-col-4">
                                <mat-form-field class="full-width">
                                    <mat-label>Inspect Level</mat-label>
                                    <input matInput type="number" formControlName="level"
                                        id="inspect-level-input">
                                </mat-form-field>
                            </div>
                            <ng-container formGroupName="score">
                                <div class="mat-col-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>inboundScore</mat-label>
                                        <input matInput type="number" formControlName="inbound"
                                            id="inbound-score-input">
                                    </mat-form-field>
                                </div>
                                <div class="mat-col-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>outboundScore</mat-label>
                                        <input matInput type="number" formControlName="outbound"
                                            id="outbound-score-input">
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                        <mat-form-field class="full-width">
                            <mat-label>Category</mat-label>
                            <mat-select (selectionChange)="onAddCategory($event)" id="category-select">
                                <mat-option *ngFor="let c of filterActiveCategory(_categories,form.value.categories)"
                                    [value]="c.name || c" id="category-option-{{c.name || c}}">
                                    {{ c.name || c }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-chip-listbox [multiple]="false" [selectable]="true">
                            <mat-chip-option *ngFor="let p of form.value.categories; let i = index" class="small-chip"
                                (removed)="onRemoveCategory(p)" (click)="onSelectCategory(p)" id="category-chip-{{p}}">
                                {{ p }}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-option>
                        </mat-chip-listbox>
                        <div class="row">
                            <div class="col">
                                <table mat-table [dataSource]="ruleDS" matSort>
                                    <tr mat-header-row *matHeaderRowDef="ruleDC"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ruleDC;"></tr>

                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox [checked]="ruleCH.length>1"
                                                (change)="selectAllRules($event.checked)">
                                                Code
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-checkbox [checked]="isRuleSelected(element.code)"
                                                (change)="selectRule($event.checked,element.code)">
                                                {{ element.code }}
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="severity">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Severity</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span *ngIf="element.severity" class="badge" [ngClass]="element.severity.toLowerCase()">
                                                {{ element.severity }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="msg" class="full-width">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="full-width">
                                            Description
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div style="display: flex; flex-direction: column; gap: 4px; padding: 6px 0;">
                                                <span *ngIf="element.msg" class="rule-msg">{{ element.msg }}</span>
                                                <span *ngIf="!element.msg && element.comment" class="rule-msg text-dim">{{ element.comment }}</span>
                                                <div *ngIf="element.tags && element.tags.length" style="display: flex; flex-wrap: wrap; gap: 4px; margin-top: 2px;">
                                                    <span *ngFor="let tag of element.tags" class="tag-badge">{{ tag }}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actionSummary">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                                        <td mat-cell *matCellDef="let element" class="text-right">
                                            <div class="action" [ngClass]="(element.action=='block')?'danger':'info'">
                                                {{ element.action }}
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
                                        <td mat-cell *matCellDef="let element; let i = index;" class="text-right">
                                            <mat-slide-toggle (change)="onRuleCheck($event.checked,element.code)"
                                                [checked]="isRuleActive(element.code)"></mat-slide-toggle>
                                        </td>
                                    </ng-container>
                                </table>

                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </form>
        </mat-card-content>
        <mat-card-actions align="end" class="mat-mdc-card-actions bottom-actions">
            <button type="button" mat-flat-button color="primary" *ngIf="form.enabled" (click)="onSave()"
                id="save-sensor-button">
                <mat-icon>save</mat-icon>
                Save
            </button>
            <button type="button" mat-stroked-button [routerLink]="['/sensor']" id="return-sensor-button">
                <mat-icon>arrow_back</mat-icon>
                Cancel
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>