<ng-container>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'view.upstream.title'|translate }}</mat-card-title>
            <mat-card-subtitle>{{ (isAddMode ? 'actions.create' : 'actions.edit')| translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" id="upstream-form">
                <div class="mat-row" id="upstream-form-row">
                    <div class="mat-col-6" id="upstream-form-left-col">
                        <div class="form-grid-2" id="upstream-name-type-row">
                            <mat-form-field class="full-width" id="upstream-name-col">
                                <mat-label>Name</mat-label>
                                <input id="upstream-name" matInput formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="full-width" id="upstream-type-col">
                                <mat-label>Type</mat-label>
                                <mat-select formControlName="type" id="upstream-type-select">
                                    @for (ut of _types; track ut) {
                                    <mat-option [value]="ut" id="type-option-{{ut}}" class="capitalize-option">
                                        {{ ut }}
                                    </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-row-full" id="upstream-description-row">
                            <mat-form-field class="full-width" id="upstream-description-col">
                                <mat-label>Description</mat-label>
                                <textarea id="upstream-description" matInput formControlName="description"></textarea>
                            </mat-form-field>
                        </div>

                        @if (form.value.type == 'backend') {
                        <div id="upstream-backend-settings">
                            <div class="form-grid-2">
                                <mat-form-field class="full-width">
                                    <mat-label>Protocol</mat-label>
                                    <mat-select formControlName="protocol" id="upstream-protocol-select">
                                        @for (ut of _supportedProtocols; track ut) {
                                        <mat-option [value]="ut" id="protocol-option-{{ut}}">
                                            {{ ut }}
                                        </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="full-width">
                                    <mat-label>Retry attempts</mat-label>
                                    <input matInput formControlName="retry" id="upstream-retry">
                                </mat-form-field>
                            </div>

                            <div class="form-grid-2">
                                <mat-form-field class="full-width">
                                    <mat-label>Retry Timeout (seconds)</mat-label>
                                    <input matInput formControlName="retry_timeout" id="upstream-retry-timeout">
                                </mat-form-field>
                                <mat-form-field class="full-width">
                                    <mat-label>Connection Timeout (seconds)</mat-label>
                                    <input matInput formControlName="conn_timeout" id="upstream-conn-timeout">
                                </mat-form-field>
                            </div>

                            @if (form.value.protocol == 'FASTCGI') {
                            <div class="form-row-full">
                                <mat-form-field class="full-width">
                                    <mat-label>FastCGI Script Path</mat-label>
                                    <input matInput formControlName="script_path" id="upstream-script-path">
                                </mat-form-field>
                            </div>
                            }

                            <mat-card class="full-width persist-card">
                                <mat-card-header>
                                    <mat-card-title>
                                        <mat-slide-toggle id="upstream-persist-toggle" color="primary"
                                            [formControl]="persistEnabledControl" (change)="persistChange()">
                                            Session Persistence
                                        </mat-slide-toggle>
                                    </mat-card-title>
                                </mat-card-header>
                                @if (persistEnabledControl.value) {
                                <mat-card-content>
                                    <div class="form-grid-2">
                                        <mat-form-field class="full-width">
                                            <mat-label>Cookie Name (Optional)</mat-label>
                                            <input id="upstream-cookie-name" matInput formControlName="cookie_name">
                                        </mat-form-field>
                                        <mat-form-field class="full-width">
                                            <mat-label>Cookie Path (Optional)</mat-label>
                                            <input id="upstream-cookie-path" matInput formControlName="cookie_path">
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                                }
                            </mat-card>
                        </div>
                        }
                    </div>
                    <div class="mat-col-6" id="upstream-form-right-col">
                        @if (form.value.type == 'static') {
                        <div class="mat-row" id="upstream-static-content">
                            <mat-card class="full-width">
                                <mat-card-header>
                                    <mat-card-title>
                                        Static Content
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="mat-row" id="upstream-static-file-row">
                                        <div class="mat-col-8" id="upstream-file-upload-col">
                                            <input class="form-control" type="file" id="upstream-static-file"
                                                accept="application/zip, .zip" (change)="onFileSelected($event)">
                                        </div>
                                        <div class="mat-col-4" id="upstream-index-file-col">
                                            <mat-form-field class="full-width">
                                                <mat-label>Index File</mat-label>
                                                <input matInput formControlName="index" id="upstream-index-file">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        }
                        @if (form.value.type == 'backend') {
                        <div id="upstream-targets-section">
                            <mat-card class="full-width targets-card">
                                <mat-card-header>
                                    <mat-card-title>
                                        <span class="targets-header-title">
                                            <mat-icon class="targets-icon">hub</mat-icon>
                                            {{ 'UPSTREAM.TARGETS.TITLE' | translate }}
                                            <span class="targets-count-badge">{{ targetDS.data ? targetDS.data.length :
                                                0 }}</span>
                                        </span>
                                    </mat-card-title>

                                </mat-card-header>
                                <mat-card-content class="targets-card-content">
                                    @if (targetDS.data && targetDS.data.length > 0) {
                                    <table mat-table [dataSource]="targetDS" matSort class="targets-table">
                                        <tr mat-header-row *matHeaderRowDef="targetDC"></tr>
                                        <tr mat-row *matRowDef="let row; columns: targetDC;"></tr>

                                        <ng-container matColumnDef="host">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{
                                                'UPSTREAM.TARGETS.NETWORK_ADDRESS' | translate }}</th>
                                            <td mat-cell *matCellDef="let element" id="target-host-{{element._id}}">
                                                <span class="target-host-text">{{ element.host }}</span>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="port">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{
                                                'UPSTREAM.TARGETS.SERVICE_PORT' | translate }}</th>
                                            <td mat-cell *matCellDef="let element" id="target-port-{{element._id}}">
                                                <span class="target-port-badge">{{ element.port }}</span>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef class="text-right"> {{
                                                'UPSTREAM.TARGETS.ACTIONS' | translate }}</th>
                                            <td mat-cell *matCellDef="let element; let i = index" class="text-right">
                                                @if (form.enabled) {
                                                <button mat-icon-button color="primary" type="button"
                                                    (click)="onEditTarget(element, i)"
                                                    id="edit-target-{{element._id || i}}"
                                                    [matTooltip]="'UPSTREAM.TARGETS.EDIT_TOOLTIP' | translate">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button mat-icon-button color="warn" type="button" (click)="onRemove(i)"
                                                    id="delete-target-{{element._id || i}}"
                                                    [matTooltip]="'UPSTREAM.TARGETS.REMOVE_TOOLTIP' | translate">
                                                    <mat-icon>delete_outline</mat-icon>
                                                </button>
                                                }
                                            </td>
                                        </ng-container>
                                    </table>
                                    } @else {
                                    <div class="targets-empty-state">
                                        <mat-icon class="empty-icon">dns</mat-icon>
                                        <p class="empty-text">{{ 'UPSTREAM.TARGETS.EMPTY_MESSAGE' | translate }}</p>
                                    </div>
                                    }
                                </mat-card-content>
                                <mat-card-actions class="align-right">
                                    @if (form.enabled) {
                                    <button mat-flat-button color="primary" type="button" (click)="onAddTarget()"
                                        id="add-target-btn">
                                        <mat-icon>add</mat-icon>
                                        {{ 'UPSTREAM.TARGETS.ADD_BTN' | translate }}
                                    </button>
                                    }
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        }
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions align="end" class="mat-mdc-card-actions bottom-actions">
            <button type="button" mat-stroked-button [routerLink]="['/upstream']" id="upstream-form-back-btn">
                <mat-icon>arrow_back</mat-icon>
                {{ 'ACTIONS.CANCEL' | translate }}
            </button>
            @if (form.enabled) {
            <button id="save-upstream-btn" type="button" mat-flat-button color="primary" (click)="onSubmit()">
                <mat-icon>save</mat-icon>
                {{ 'ACTIONS.SAVE' | translate }}
            </button>
            }
        </mat-card-actions>
    </mat-card>
</ng-container>