# ROUTE CONFIGURATION
SecAction "id:900300,phase:1,pass,nolog,noauditlog,t:none,setvar:tx.max_num_args={{ sensor.route.max_num_args }}"
SecAction "id:900310,phase:1,pass,nolog,noauditlog,t:none,setvar:tx.arg_name_length={{ sensor.route.arg_name_length }}"
SecAction "id:900320,phase:1,pass,nolog,noauditlog,t:none,setvar:tx.arg_length={{ sensor.route.arg_length }}"
SecRule &TX:allowed_methods "@eq 0" "id:901160,phase:1,pass,nolog,ver:'OWASP_CRS/3.3.9',setvar:'tx.allowed_methods={{ sensor.route.allowed_methods }}'"
SecRule &TX:restricted_extensions "@eq 0" "id:901164,phase:1,pass,nolog,ver:'OWASP_CRS/3.3.9',setvar:'tx.restricted_extensions={{ sensor.route.restricted_extensions }}'"
SecRule &TX:allowed_request_content_type "@eq 0" "id:901162,phase:1,pass,nolog,ver:'OWASP_CRS/3.3.9',setvar:'tx.allowed_request_content_type=sensor.route.allowed_content_type'"